@import "../../shared/styles/styles";
@import "../../shared/styles/variables";


.optionsPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:  $padding-medium;

  &__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:  $padding-small;
  }
}

.section__title {
  padding-bottom: $padding-medium;
  text-transform: uppercase;
}


.section__button {
  align-items: center;
  background-color: map-get($colors, white);
  border-radius: 4px;
  border: 0 none;
  color: map-get($colors, mine-shaft);
  cursor: pointer;
  display: flex;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  justify-content: center;
  padding:  $padding-small  $padding-large;
  text-align: center;
  text-transform: uppercase;
  transition: all 150ms linear;

  &:hover {
    background-color: map-get($colors, gold);
    opacity: .85;
    transition: all 150ms linear;
  }
}

.section__select {
  align-items: center;
  border-radius: 4px;
  border: 0 none;
  color: map-get($colors, mine-shaft);
  cursor: pointer;
  display: flex;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  justify-content: center;
  padding:  $padding-small  $padding-medium;
  text-align: center;
  transition: all 150ms linear;

  &:hover {
    background-color: map-get($colors, gold);
    opacity: .85;
    transition: all 150ms linear;
  }
  
  .section__option:hover {
    background-color: map-get($colors, white);
  }
}


.option {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  padding:  $padding-small  $padding-zero;

  &__input {
    cursor: pointer;
    margin-right: 5px;
  }

  &__label {
    font-size: $font-size-small;
    
    &:hover {
      color:  map-get($colors, gold);
      cursor: pointer;
    }
  }
}
