.optionsPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;

  &__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}

.section__title {
  padding-bottom: 5px;
  text-transform: uppercase;
}


.section__button {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 0 none;
  color: #333;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 6px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: all 150ms linear;

  &:hover {
    background-color: gold;
    opacity: .85;
    transition: all 150ms linear;
  }
}

.section__select {
  align-items: center;
  border-radius: 4px;
  border: 0 none;
  color: #333;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 6px 10px;
  text-align: center;
  transition: all 150ms linear;

  &:hover {
    background-color: gold;
    opacity: .85;
    transition: all 150ms linear;
  }
  
  .section__option:hover {
    background-color: #fff;
  }
}


.option {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;

  &__input {
    cursor: pointer;
    margin-right: 5px;
  }

  &__label {
    font-size: 16px;
    
    &:hover {
      color: gold;
      cursor: pointer;
    }
  }
}