@import '../../shared/styles/styles';
@import '../../shared/styles/variables';


.loader {
  animation: spin 1s linear infinite;
  border: 5px solid map-get($colors, light-gray);
  border-radius: 50%;
  border-top: 5px solid map-get($colors, gray);
  height: 40px;
  margin: $margin-zero auto;
  width: 40px;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
