@import "../../shared/styles/styles";
@import "../../shared/styles/variables";


.loader {
  margin: $margin-zero auto;
  border: 5px solid map-get($colors, light-gray);;
  border-radius: 50%;
  border-top: 5px solid map-get($colors, gray);
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
