@import '../../shared/styles/variables';


.repo-list {
  padding:  $padding-medium;

  &__list {
    list-style: none;
    margin: $margin-zero;
    padding: $padding-zero;
  }
}

.list__item {
  margin-bottom: $margin-medium;
}
