$padding-zero: 0px;
$padding-small: 5px;
$padding-medium: 10px;
$padding-big: 15px;
$padding-large: 25px;


$margin-zero: 0px;
$margin-small: 5px;
$margin-medium: 10px;
$margin-big: 20px;


$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


$font-size-extra-small: 15px;
$font-size-small: 16px;
$font-size-medium: 17px;
$font-size-big: 20px;
$font-size-large: 40px;
