$base-background-color: #444;
$base-color: #fff;


.app {
  align-items: center;
  background-color: $base-background-color;
  color: $base-color;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 60%;
  }

  &__repoList {
    padding: 10px;
    width: 60%;
  }

  &__options {
    padding: 10px;
    width: 60%;
  }

  &__footer {
    border-top: 1px solid #f5f5f5;
    padding: 15px;
    text-align: center;
    width: 80%;
  }
}
