@import "../../shared/styles/styles";
@import "../../shared//styles/variables";


.app {
  align-items: center;
  background-color: map-get($colors, tundora);
  color: map-get($colors, white);
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    flex-direction: row;
    justify-content: center;
    padding: $padding-medium;
    text-align: center;
    width: 60%;
  }

  &__repoList {
    padding:  $padding-medium;
    width: 60%;
  }

  &__options {
    padding:  $padding-medium;
    width: 60%;
  }

  &__footer {
    border-top: 1px solid map-get($colors, wild-sand);
    padding: $padding-big;
    text-align: center;
    width: 80%;
  }
}


@media (max-width: 992px) {
  .app__footer,
  .app__header,
  .app__options,
  .app__repoList {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .app__footer,
  .app__header,
  .app__options,
  .app__repoList {
    width: 90%;
  }
}
