@import '../../shared/styles/styles';
@import '../../shared/styles/variables';


.repoListItem {
  background-color: map-get($colors, mine-shaft);
  border: 1px solid map-get($colors, gray);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: $margin-small $margin-zero;
  padding: $padding-medium;
  width: 100%;

  &__content {
    padding:  $padding-small;

    .content__description {
      font-style: italic;
    }

    .content__link {
      background: map-get($colors, gray);
      border-radius: 5px;
      color: map-get($colors, white);
      display: block;
      font-weight: $font-weight-normal;
      height: 25px;
      margin: $margin-big auto $margin-zero;
      text-align: center;
      text-decoration: none;
      width: 115px;

      &:hover {
        background-color: map-get($colors, gold);
        color: map-get($colors, black);
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  &__header {
    font-size: $font-size-big;
    font-weight: $font-weight-bold;
    padding: $padding-small;
  }

  &__footer {
    display: flex;
    font-size: $font-size-extra-small;
    font-weight: $font-weight-medium;
    padding:  $padding-small;

    .footer__star {
      color: map-get($colors, gold);
      flex-basis: 33%;
      font-size: $font-size-medium;
      text-align: center;
    }

    .footer__author {
      color: map-get($colors, light-gray);
      flex-basis: 33%;
      text-align: left;
    }

    .footer__language {
      color: map-get($colors, light-gray);
      flex-basis: 33%;
      text-align: right;
    }
  }

  .hr {
    border: 1px solid map-get($colors, gray);
    margin: $margin-medium auto;
    width: 85%;
  }
}


@media (max-width: 576px) {
  .repoListItem__header {
    display: flex;
    justify-content: center;
  }

  .content__description {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .repoListItem__footer {
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .footer__author,
  .footer__star,
  .footer__language {
    display: flex;
    justify-content: center;
    padding: $padding-small $padding-zero;
    text-align: center;
  }
}
