@import "./shared/styles/styles";
@import "./shared/styles/variables";


* {
  box-sizing: border-box;
  margin: $margin-zero;
  padding: $padding-zero;
}

body {
  background-color: map-get($colors, tundora);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
